@import url('http://fonts.googleapis.com/css?family=poppins:wgth@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}
:root{
    --bg-color:#1f242d;
    --second-bg-colore: #323946;
    --text-colore:#fff;
    --main-colore:#0ef;

}
html{
    font-size: 62%;
    overflow-x: hidden;

}
body{
    background: var(--bg-color);
    color: var(--text-colore);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2px 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.5rem;
    color: var(--text-colore);
    font-weight: 600;
    cursor: default;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-colore);
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-colore);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-colore);
    display: none;
}
.home{
    display: flex;
    justify-self: center;
    align-items: center;
}
img{
    width: 400px;
    height: 500px;
    float: center;
    text-align: center;
    position:absolute;
    left: 60%;
    bottom:15%;
}
  
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
span{
    color: var(--main-colore);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 1.6rem;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid  var(--main-colore);
    border-radius:50%;
    font-size: 2rem;
    color: var(--main-colore);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social-media a:hover{
    background-color: var(--main-colore);
    color: var(--second-bg-colore);
    box-shadow: 0 0 1rem var(--main-colore);
}    
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-colore);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-colore);
    font-size: 1.6rem;
    color: var(--second-bg-colore);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    }
.btn:hover{
    box-shadow: none;
}    